body{
    background-color: darkgrey;
}

h1{
    color: darkolivegreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
    color: brown;
    font-size: 40px;
}

    .nomeVisitante{
        color: blueviolet;
        font-size: 50px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    .botao {
        height: 30px;
        width: 200px;
        background-color: darkgreen;
        color: aliceblue;
        border: none;
        border-radius: 10px;
        cursor: pointer;

    }

    .botao:hover {
        background-color: chocolate;
        color: darkblue;
    }